# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/jobplace

# Redis
REDIS_URL=redis://localhost:6379

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# JWT
JWT_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC7VJTUt9Us8cKB
...
-----END PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAu1SU1LfVLPHCgQeLhsy
...
-----END PUBLIC KEY-----

# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001 